<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campusappdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProfileDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileFragmentActivity"
            android:exported="true" />
        <activity
            android:name=".CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".EventsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EventCardCreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".MarketPlaceCardSellSectionActivity"
            android:exported="false" />
        <activity
            android:name=".MarketPlaceCardCategorySectionActivity"
            android:exported="false" />
        <activity
            android:name=".CommentLogActivity"
            android:exported="false" />
        <activity
            android:name=".StoryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ReportCardActivity"
            android:exported="false" />
        <activity
            android:name=".MarketPlaceCardActivity"
            android:exported="false" />
        <activity
            android:name=".EventCardActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeCardActivity"
            android:exported="false" />
        <activity
            android:name=".PostCardActivity"
            android:exported="false" />
        <activity
            android:name=".StoryCardActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>